h1 { font-size: $ts-h1; }
h2 { font-size: $ts-h2; }
h3 { font-size: $ts-h3; }
h4 { font-size: $ts-h4; }
h5 { font-size: $ts-h5; }
h6 { font-size: $ts-h6; }

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 500;
}