.clear-children {
	@include clear-children;
	&--top { @include clear-children(true, false) }
	&--bottom { @include clear-children(false, true) }
}


.no-margin { margin: 0; }
.no-padding { padding: 0; }


.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	position: relative;
	right: 50%;
	width: 100vw;
}


.no-scroll {
	overflow: hidden;
	&-v { overflow-y: hidden; }
	&-h { overflow-x: hidden; }
}