/* #CONTAINERS
------------------------------------*/
@mixin container($mw: $max-width) {
	margin-left: auto;
	margin-left: auto;
	max-width: $mw;
	width: 100%;
}

.container { @include container; }
.container-sm { @include contianer($max-width * .75); }


/* #GUTTERS
------------------------------------*/
@mixin gutter($size) {
	padding-left: $size;
	padding-right: $size;
}
.gutter {
	@include gutter($gutter-sm);
	
	@include mq(sm) {
		@include gutter;
	}
}
.gutter-sm {
	@include gutter($gutter-sm);
}





/*------------------------------------*\
	#GRID
\*------------------------------------*/

@mixin grid-even($sel: '> *') {
	display: flex;

	@if $sel {
		#{$sel} { flex: 1; }
	}
}

@mixin grid-equal-height {
	display: flex;
	align-items: stretch;
}

@mixin grid-fluid($cols: 1, $gutter: $gutter * 2, $bp: null, $sel: '> *') {
	display: flex;
	flex-wrap: wrap;

	@if $gutter {
		margin-left: -$gutter;
		margin-top: -$gutter;
	}
	
	@if $sel {
		#{$sel} {
			$width: 100% / $cols;
		
			@if $bp != null { 
				@include mq($bp){
					flex-basis: $width;
					max-width: $width;
					width: $width;
					
					@if $gutter {
						padding-left: $gutter;
						padding-top: $gutter;
					}
				}
			} @else {
				flex-basis: $width;
				max-width: $width;
				width: $width;
				
				@if $gutter {
					padding-left: $gutter;
					padding-top: $gutter;
				}
			}
		}
	}
}

@mixin grid-center-both {
	align-items: center;
	display: flex;
	justify-content: center;
}
