@mixin media($horz: $gutter-sm, $vert: $vert-space) {
	@include clear-children;

	align-items: flex-start;
	display: flex;
	margin-bottom: $vert-space;

	&__figure {
		margin-right: $horz;
	}
	&__body {
		flex: 1;
		@include clear-children;
	}
}


.media {
	@include media;

	/* #MODIFIERS
	------------------------------------*/
	
	&--lg-space {
		margin-bottom: $vert-space * 1.5;
		.media__figure { margin-right: $gutter * 1.5; }
	}

	&--reverse {
		> .media__figure {
			order: 1;
			margin-right: 0;
			margin-left: $gutter-sm;
		}
		&.media--lg-space > .media__figure { margin-left: $gutter * 1.5; }
	}
	&--center { align-items: center; }
}