.meta {
	font-size: $text-size-body * 0.85;
	text-transform: uppercase;

	a {
		color: inherit;
		text-decoration: underline;
	}
}
.meta--inline {
	display: flex;
	flex-wrap: wrap;
	> * {
		display: block;
		flex: 0 0 auto;
		&:not(:first-of-type){
			margin-left: 1.5rem;
		}
	}
}
.meta__label {}