<table>
    <thead>
        <tr>
            <th>Title 1</th>
            <th>Title 2</th>
            <th>Title 3</th>
            <th>Title 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cell 1A</td>
            <td>Cell 2A</td>
            <td>Cell 3A</td>
            <td>Cell 4A</td>
        </tr>
        <tr>
            <td>Cell 1B</td>
            <td>Cell 2B</td>
            <td>Cell 3B</td>
            <td>Cell 4B</td>
        </tr>
        <tr>
            <td>Cell 1C</td>
            <td>Cell 2C</td>
            <td>Cell 3C</td>
            <td>Cell 4C</td>
        </tr>
    </tbody>
</table>